[MASTER]
ignore=venv
init-hook="import sys; from pathlib import Path; sys.path.append(str(Path('.').resolve() / 'utils'))"

[MESSAGES CONTROL]
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    E0401,  # Unable to import
    R0903,  # Too few public methods
    E0012,  # Bad option value for --disable
    F0002,  # Pylint internal error
    E1101,
    C0412,

[DESIGN]
max-args=5
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=7
max-public-methods=20

[FORMAT]
max-line-length=88
